<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{site.title}} | {{site.description}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{template_uri}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Font Awesome FIX THIS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->    
    <link href="{{template_uri}}/style.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  {{nav}}
  {{main_carousel}}
  {% for page in pages %}
    {%if page.post_parent == 0 and page.id != home.0.id %}
      {% include 'info.twig' with {'partners' : partners, 'staff' : staff, 'donate' : donate} %}
    {% endif %}
  {% endfor %}      
  <footer>
    <div class="container">
      {{footer_widgets}}     
    </div>   
  </footer>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{template_uri}}/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{template_uri}}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script src="{{template_uri}}/js/wow.min.js"></script>
    <script src="{{template_uri}}/js/waypoints.js"></script>
    <script src="{{template_uri}}/js/script.js"></script>
<script>
jQuery('.carousel').carousel();
</script>
<script>
 new WOW().init();
</script>

     </body>
</html>

