<div class="info-page {{ subpage and loop.index != 1 ? 'page-inactive' : 'page-active'}}" id="{{subpage.slug ?: page.slug }}" data-background="{{TimberImage(subpage.get_field('slide_image')).src}}">
    <div class="container" style="height:100vh; background-color:rgba(255,255,255,0.5)">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-family:font-family:'Open Sans', sans-serif; font-weight:bold;">{{donate.0.title}}</h2>
        <p class="lead">{{donate.0.content}}</p>
      </div>        
      <div class="col-md-5">
        <h2 class="featurette-heading">Get involved</h2>
Want to be a partner and find out more about us? <a href="#">Read our Business Report, published June 2014.</a>
<h4>ORGANIZE</h4>

<p>Do you want to tell your friends about Shammah Health Center and what we are doing here? Please, host a gathering with friends and family, speak with your work colleagues, or share at your church or youth group. We would love to supply you with resources and assistance in creating awareness for our work here in Burundi.</p>
<p>Contact us at <a href="#">info@shammahhealtcenter.com</a> to request promotional materials, including posters, video links, slideshows and powerpoint presentations. We’re ready to help you.</p>
￼
<h4>JOIN US</h4>
<p>Don’t just send your cheque book. Bring yourself to Burundi and see what is happening here firsthand! Visit Homes of Hope and meet our amazing children, come see our schools in action, and come spend your time and minister with your presence here at Shammah Health Center. We are called to be Jesus’ hands and feet to the poor, the widowed and the orphaned. Can you think of a better place to be?</p>
<p>We are always looking for talented and passionate people who want to make an impact. Whether you’re a physician, a registered nurse or lab technician, whether you come from a health background or not, we’d love to have you come and serve with us, for any period of time. Those with experience in agriculture, hospital administration, management even in small-business, your time and advice would be welcomed! For those with trade skills (plumbers, electricians, builders, engineers, etc.) there are always projects we have available to tackle.</p>

<p>If you are passionate about bringing healthcare to those in desperate need of it, regardless of your skill set or age, we’d love to hear from you.</p>

      </div>        
    </div>
  </div>    
